@keyframes text-fading {
    from {
        font-size: clamp(3rem, 10vw, 8rem);
        line-height: clamp(3rem, 10vw, 8rem) /* 40px */;
    }
    to {
        font-size: clamp(2.5rem, 6vw, 3rem);
        line-height: clamp(2.5rem, 6vw, 3rem) /* 40px */;
    }
}

.header {
    animation: text-fading linear both;
    animation-timeline: view();
}

.section {
    scroll-snap-align: start;
}

@keyframes horizontal-appearance-from-left {
    from {
        transform: translateX(-15%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes horizontal-appearance-from-right {
    from {
        transform: translateX(15%);
    }
    to {
        transform: translateX(0%);
    }
}

.horizontal-move-from-left {
    animation: horizontal-appearance-from-left ease-in-out both;
    animation-timeline: view();
    animation-range: entry;
}

.horizontal-move-from-right {
    animation: horizontal-appearance-from-right ease-in-out both;
    animation-timeline: view();
    animation-range: entry;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}